div.savings {
    border: solid 5px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    background-color: white
  }
  div.chequings {
    border: solid 5px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    background-color: white
  }
  div.credit {
    border: solid 5px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    background-color: white
  }
  .myform{
    width: 680px;
    border: 3px solid white;
    box-shadow: 0 0 10px #898989;
    padding: 30px;
    margin: 50px auto;
    color: white;
    background-color: #0781b2;
    border-radius: 20px;
    margin-top: 100px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  body{
    background-image: url(assets/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  