nav {
    letter-spacing: 0.1em;
    margin: auto;
    padding: 8px;
    font-weight: bold;
    background-color: #fff;
   width: 1000px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0781b2;
}

li {
    float: left;
    min-width: 25%;
    margin-left: 80px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #205796;
}

nav a:hover {
    background-color: #eaeaea;
    color: #869dc7;
}