body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(assets/bg.jfif);
    background-size: cover;
    background-position: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: center;
    top: -50px;
    left:calc(40% -40px);
    
}

.box{

    width: 300px;
    padding: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(31, 101, 193);
    text-align: center;
}

.box h1{
color: lightcyan;
text-transform: uppercase;
font-weight: 700;

}

.box p{

    color: aliceblue;

}

.box input[type="text"], .box input[type="password"]{

border: 0;
background:lightblue;
display: block;
margin: 20px auto;
text-align: center;
border:3px rgb(44, 190, 56);
padding: 14px 10px;
width: 220px;
outline:white;
color: black;
border-radius: 24px;
transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus

{

width: 270px;
border-color: yellow;

}


.box input[type="submit"]

{
    border: 0;
    background:rgb(106, 207, 106);
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px beige;
    padding: 14px 10px;
    width: 220px;
    outline:none;
    color:white ;
    border-radius: 24px;
    transition: 0.25px; 
    cursor: pointer;
}


.box input[type="submit"]:hover{
    background: lightblue;
}
